.grid {
    padding: 6rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "item1 item2"
        "item1 item3";
        gap: 2rem;

        .grid__item {
            border-radius: 1rem;
            background-size: cover;
            background-position: center center;
            padding: 2rem;

            .grid__item1 {
                grid-area: item1;
                background-image: url(./img/ellie-the-last-of-us-4k-yl-2048x1152.jpg);
                height: 500px;
            }

            .grid__item2 {
                grid-area: item2;
                background-image: url(./img/call-of-duty-black-ops-3-nomad-wallpaper-3840x1440_92.jpg);
            }

            .grid__item3 {
                grid-area: item3;
                background-image: url(./img/46585-h.jpg);
            }
        }
}